In [1]:
from hashTableChains import Hash_tbl_chains
from hashTableOpenAdressing import Hash_tbl_open_adressing
from math import sqrt

In [3]:
def fill_table(table):
    table.add( (54, "Ihar"), (87, "Rafic"),(54, "Ihar"), (87, "Rafic"), (57, "Alex"), (56, 'Iva') )
    table.add( (8, "Arnold"))
    table.add ((1, "ADS"), (9879, 'asdasd'))
    table.add((5, 'apsd'))

In [4]:
table_ch = Hash_tbl_chains(8)
table_adr = Hash_tbl_open_adressing(8)

In [7]:
fill_table(table_ch)
fill_table(table_adr)

In [9]:
table_ch.print()
print('\n\n')
table_adr.print()

9879 : asdasd
56 : Iva    1 : ADS
54 : Ihar    57 : Alex
5 : apsd
8 : Arnold
87 : Rafic



9879 : asdasd
5 : apsd
56 : Iva
1 : ADS
54 : Ihar
57 : Alex
8 : Arnold
87 : Rafic

In [11]:
print(table_adr.get(1))
print(table_ch.get(1))

ADS
ADS

In [12]:
table_adr.delete(1)
table_ch.delete(1)

True

In [13]:
table_ch.print()
print('\n\n')
table_adr.print()

9879 : asdasd
56 : Iva
54 : Ihar    57 : Alex
5 : apsd
8 : Arnold
87 : Rafic



9879 : asdasd
5 : apsd
56 : Iva

54 : Ihar
57 : Alex
8 : Arnold
87 : Rafic

In [8]:
54.0 % 690.3439654336327

54.0